{% extends 'base.html' %}
{% block title %}ABOUT{% endblock title %}

{% block body  %}

<div class="container text-center my-3">
    <h1 class="my-2">THE ZABAR'S FAMILY</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku4.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">
                <div class="card-body">
                    <p class="card-text">The family is the test of freedom; because the family is the only thing that the free man makes for himself and by himself.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">TRUST</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku5.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">
                <div class="card-body">
                    <p class="card-text">You leave home to seek your fortune and, when you get it, you go home and share it with your family.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">NURTURE</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku6.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">

                <div class="card-body">
                    <p class="card-text">You don’t choose your family. They are God’s gift to you, as you are to them love family.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">ACCEPTANCE</small>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku7.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">

                <div class="card-body">
                    <p class="card-text">Call it a clan, call it a network, call it a tribe, call it a family: Whatever you call it, whoever you are, you need one Rejoice with your family in the beautiful land of life.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">SMILE</small>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku8.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">

                <div class="card-body">
                    <p class="card-text">YFamilies are the compass that guides us. They are the inspiration to reach great heights, and our comfort when we occasionally falter.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">LOVE MUCH</small>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/ku9.jfif" width="100" height="100" class="d-block w-100 h-100" alt="...">

                <div class="card-body">
                    <p class="card-text">The only rock I know that stays steady, the only institution I know that works, is the family Without a family, man, alone in the world, trembles with the cold. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">CONNECTION</small>
                    </div>
                </div>
            </div>
        </div>



       
        
        </div>
      

       
       
         </div>
    </div>
</div>

{% endblock body  %}
