{% extends 'base.html' %}
{% block title %}QUALITIES{% endblock title %}

{% block body  %}
<div class="container">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">READY AIM FIRE. <span class="text-muted">It’ll blow your mind.</span>
                </h2>
                <p class="lead">Programs must be written for people to read, and only incidentally for machines to
                    execute.</p>
            </div>
            <div class="col-md-5">
                <img src="/static/am1.jfif" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> TALK IS CHEAP SHOW ME THE CODE. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">when you don't create things, you become defined by your tastes rather than ability.
                    your tastes only narrow & exclude people. so create.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/static/am2.jfif " width="450" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">SEE THE GOOD <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Always code as if the guy who ends up maintaining your code will be a violent psychopath
                    who knows where you live..</p>
            </div>
            <div class="col-md-5">
                <img src="/static/am3.jfif" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
</div>
{% endblock body  %}